body {
    --fg-color: #f8f8f8;
    --bg-color: #222224;
    --sb-fg-color: #383838;
    --sb-bg-color: #1f1f1f;
    --gap: 24px;
    --gap-grp: 8px;
    --max-width: 800px;

    margin: 0;
    font-size: 17px;
    color: var(--fg-color);
    background-color: var(--bg-color);
    font-family: 'Segoe UI Regular', sans-serif;
}

main {
    margin: 0 auto;
    padding: 8px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--gap);
    max-width: var(--max-width);

    & .right {
        margin-left: auto;
    }
    & div.group {
        display: flex;
        flex-direction: column;
        gap: var(--gap-grp);
    }
}

code.hljs {
    font-size: 15px;
    border-radius: 8px;
    border: 1px solid #181818;
    max-width: var(--max-width);
    font-family: Consolas, Monaco, monospace;
    scrollbar-width: thin;
    scrollbar-color: var(--sb-fg-color) var(--sb-bg-color);
}

a.button {
    padding: 8px 15px;
    border: 1px solid #181818;
    border-radius: 5px;
    color: var(--fg-color);
    background-color: var(--sb-fg-color);
    text-decoration: none;
    width: fit-content;
}

h1, h2, p, a, pre, ul, li {
    margin: 0;
}